<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">



	<context-param>
		<param-name>uploadFolder</param-name>
		<param-value>/uploads/</param-value>
	</context-param>

	<context-param>
		<param-name>org.jboss.jbossfaces.JSF_CONFIG_NAME</param-name>
		<param-value>Mojarra-1.2</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.RECREATE_VALUE_EXPRESSION_ON_BUILD_BEFORE_RESTORE</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.openfaces.validation.disabled</param-name>
		<param-value>true</param-value>
	</context-param>



	<!--<context-param> <param-name>facelets.REFRESH_PERIOD</param-name> <param-value>-1</param-value> 
		</context-param> <context-param> <param-name>facelets.LIBRARIES</param-name> 
		<param-value>/WEB-INF/tags/jedlab-taglib.xml </param-value> </context-param> -->


	<!-- Seam -->

	<listener>
		<listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
	</listener>

	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FarsiType Filter</filter-name>
		<filter-class>com.jedlab.framework.FarsiTypeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FarsiType Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>

	<!-- Facelets development mode (disable in production) -->

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- JSF -->

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/tags/jedlab-taglib.xml 
		</param-value>
	</context-param>


	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Document Store Servlet</servlet-name>
		<servlet-class>org.jboss.seam.document.DocumentStoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Document Store Servlet</servlet-name>
		<url-pattern>/seam/docstore/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>IE Filter</filter-name>
		<filter-class>com.jedlab.IEFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>IE Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>Video Player</servlet-name>
		<url-pattern>*.play</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Video Player</servlet-name>
		<servlet-class>com.jedlab.VideoPlayerServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Delete Token Player</servlet-name>
		<url-pattern>/destroy</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete Token Player</servlet-name>
		<servlet-class>com.jedlab.DeleteTokenServlet</servlet-class>		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Course Search</servlet-name>
		<url-pattern>*.search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Course Search</servlet-name>
		<servlet-class>com.jedlab.CourseSearchServlet</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>Video Image Loader</servlet-name>
		<url-pattern>*.image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Video Image Loader</servlet-name>
		<servlet-class>com.jedlab.VideoImagePosterServlet</servlet-class>
	</servlet>
	
	
		<servlet-mapping>
		<servlet-name>Username Check Availibility</servlet-name>
		<url-pattern>/checkAvailibility</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Username Check Availibility</servlet-name>
		<servlet-class>com.jedlab.CheckUsernameAvailibilityServlet</servlet-class>
	</servlet>
	

	
	 <filter>
        <filter-name>Auth Filter</filter-name>
        <filter-class>com.jedlab.rest.AuthFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Auth Filter</filter-name>
        <url-pattern>/seam/resource/rest/auth/*</url-pattern>
	</filter-mapping>

<error-page>
    <exception-type>
          com.jedlab.framework.exceptions.RequestException
    </exception-type >
    <location>/error.seam</location>
</error-page>

<error-page>
    <error-code>404</error-code>
    <location>/error.seam</location>
</error-page>

<servlet>
		<servlet-name>Jsf Components Resource Servlet</servlet-name>
		<servlet-class>org.tasktops.jsf.JsfResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jsf Components Resource Servlet</servlet-name>
		<url-pattern>/jsfIcons/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jsf Styles Resource Servlet</servlet-name>
		<servlet-class>com.jedlab.CssComponentResource</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jsf Styles Resource Servlet</servlet-name>
		<url-pattern>/ui.styles.css</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jsf Scripts Resource Servlet</servlet-name>
		<servlet-class>com.jedlab.JsComponentResource</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jsf Scripts Resource Servlet</servlet-name>
		<url-pattern>/ui.scripts.js</url-pattern>
	</servlet-mapping>

	<!-- Session Configuration -->
	<session-config>
		<session-timeout>55</session-timeout>
	</session-config>
	
	<welcome-file-list>  
 	  <welcome-file>index.html</welcome-file>  
    </welcome-file-list>  
	

	<security-constraint>
		<display-name>Restrict raw XHTML Documents</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>


</web-app>
