@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uqtf4y');
  src:  url('fonts/icomoon.eot?uqtf4y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uqtf4y') format('truetype'),
    url('fonts/icomoon.woff?uqtf4y') format('woff'),
    url('fonts/icomoon.svg?uqtf4y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e901";
}
.icon-video-camera:before {
  content: "\e934";
}
.icon-bullhorn:before {
  content: "\e902";
}
.icon-mic:before {
  content: "\e935";
}
.icon-book:before {
  content: "\e936";
}
.icon-books:before {
  content: "\e937";
}
.icon-file-text:before {
  content: "\e926";
}
.icon-profile:before {
  content: "\e928";
}
.icon-file-video:before {
  content: "\e938";
}
.icon-paste:before {
  content: "\e939";
}
.icon-folder:before {
  content: "\e93a";
}
.icon-folder-open:before {
  content: "\e93b";
}
.icon-price-tag:before {
  content: "\e93c";
}
.icon-coin-dollar:before {
  content: "\e93d";
}
.icon-phone-hang-up:before {
  content: "\e93e";
}
.icon-envelop:before {
  content: "\e95d";
}
.icon-history:before {
  content: "\e93f";
}
.icon-clock:before {
  content: "\e927";
}
.icon-bell:before {
  content: "\e92f";
}
.icon-stopwatch:before {
  content: "\e940";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-display:before {
  content: "\e941";
}
.icon-mobile:before {
  content: "\e942";
}
.icon-tv:before {
  content: "\e943";
}
.icon-drawer2:before {
  content: "\e903";
}
.icon-database:before {
  content: "\e944";
}
.icon-bubble2:before {
  content: "\e933";
}
.icon-user:before {
  content: "\e92e";
}
.icon-users:before {
  content: "\e929";
}
.icon-user-plus:before {
  content: "\e930";
}
.icon-user-minus:before {
  content: "\e931";
}
.icon-user-check:before {
  content: "\e945";
}
.icon-user-tie:before {
  content: "\e90a";
}
.icon-spinner11:before {
  content: "\e90c";
}
.icon-binoculars:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-zoom-in:before {
  content: "\e946";
}
.icon-zoom-out:before {
  content: "\e947";
}
.icon-enlarge:before {
  content: "\e948";
}
.icon-shrink:before {
  content: "\e949";
}
.icon-lock:before {
  content: "\e94a";
}
.icon-unlocked:before {
  content: "\e94b";
}
.icon-wrench:before {
  content: "\e94c";
}
.icon-equalizer2:before {
  content: "\e92a";
}
.icon-cog:before {
  content: "\e90f";
}
.icon-cogs:before {
  content: "\e904";
}
.icon-bin:before {
  content: "\e905";
}
.icon-switch:before {
  content: "\e907";
}
.icon-clipboard:before {
  content: "\e94d";
}
.icon-list:before {
  content: "\e908";
}
.icon-tree:before {
  content: "\e910";
}
.icon-download2:before {
  content: "\e912";
}
.icon-earth:before {
  content: "\e909";
}
.icon-link:before {
  content: "\e92b";
}
.icon-attachment:before {
  content: "\e92c";
}
.icon-eye:before {
  content: "\e913";
}
.icon-eye-plus:before {
  content: "\e94e";
}
.icon-eye-minus:before {
  content: "\e94f";
}
.icon-eye-blocked:before {
  content: "\e90b";
}
.icon-star-empty:before {
  content: "\e911";
}
.icon-star-full:before {
  content: "\e91f";
}
.icon-warning:before {
  content: "\e914";
}
.icon-notification:before {
  content: "\e915";
}
.icon-question:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e918";
}
.icon-info:before {
  content: "\e919";
}
.icon-cancel-circle:before {
  content: "\e91a";
}
.icon-blocked:before {
  content: "\e950";
}
.icon-cross:before {
  content: "\e920";
}
.icon-checkmark:before {
  content: "\e921";
}
.icon-checkmark2:before {
  content: "\e932";
}
.icon-exit:before {
  content: "\e922";
}
.icon-play2:before {
  content: "\e951";
}
.icon-pause:before {
  content: "\e952";
}
.icon-stop:before {
  content: "\e953";
}
.icon-loop:before {
  content: "\e954";
}
.icon-arrow-up:before {
  content: "\e95f";
}
.icon-arrow-down:before {
  content: "\e960";
}
.icon-circle-up:before {
  content: "\e923";
}
.icon-circle-down:before {
  content: "\e924";
}
.icon-checkbox-checked:before {
  content: "\e91b";
}
.icon-checkbox-unchecked:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-table:before {
  content: "\e925";
}
.icon-mail:before {
  content: "\e95e";
}
.icon-whatsapp:before {
  content: "\e955";
}
.icon-telegram:before {
  content: "\e956";
}
.icon-twitter:before {
  content: "\e957";
}
.icon-github:before {
  content: "\e958";
}
.icon-android:before {
  content: "\e959";
}
.icon-linkedin:before {
  content: "\e95a";
}
.icon-chrome:before {
  content: "\e95b";
}
.icon-firefox:before {
  content: "\e95c";
}
.icon-file-pdf:before {
  content: "\e91e";
}
.icon-file-excel:before {
  content: "\e92d";
}

