@charset "UTF-8";

@font-face {
	font-family: 'Roboto-Light';
	src: url("fonts/Roboto-Light.eot");
	src: url("fonts/Roboto-Light.eot?#iefix") format('embedded-opentype'),
		url("fonts/Roboto-Light.woff") format('woff'),
		url("fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'Yekan';
	src: url("fonts/Yekan.woff") format('woff'), url("fonts/Yekan.ttf")
		format('truetype');
}
/* =KUBE
-----------------------------------------------------------------------------*/
nav ul, nav ol {
	
	list-style: none;
}

.breadcrumb {
	font-size: 12px;
	margin-bottom: 24px;
	direction: rtl;
}

.breadcrumb ul {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.breadcrumb.centered ul {
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.breadcrumb em, .breadcrumb a {
	font-style: normal;
	padding: 0 10px;
	display: inline-block;
	white-space: nowrap;
}

.breadcrumb em {
	color: rgba(0, 0, 0, 0.5);
}

.breadcrumb a {
	color: #000;
	text-decoration: none;
}

.breadcrumb a:hover {
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}

.breadcrumb li:after {
	display: inline-block;
	content: '/';
	color: rgba(0, 0, 0, 0.4);
}

.breadcrumb li:last-child:after {
	display: none;
}

.breadcrumb li:first-child em, .breadcrumb li:first-child a {
	padding-left: 1;
	padding-right: 1;
}

.breadcrumb li.active em, .breadcrumb li.active a {
	text-decoration: none;
	cursor: text;
	color: rgba(0, 0, 0, 0.4);
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
/* Normalize buttons in IE */
button {
	width: auto;
	overflow: visible;
	font-family: "Roboto-Light", 'Yekan', Tahoma, VideoJS,
		sans-serif !important;
}
/* Hand cursor on clickable controls */
input[type="reset"], input[type="submit"], input[type="file"], input[type="radio"],
	input[type="checkbox"], select, button {
	cursor: pointer;
}
/* Trick with vertical align for radio and checkbox */
input[type="radio"], input[type="checkbox"] {
	font-size: 110%;
	position: relative;
	top: -1px;
	margin-right: 3px;
}

/* =Form
-----------------------------------------------------------------------------*/
button:active, button:focus {
	outline: none;
}

textarea, select {
	font-family: 'Yekan', Tahoma, sans-serif;
	font-size: 1em;
	box-shadow: none;
}

textarea, select[multiple], select[multiple="multiple"] {
	padding: 0.3em 0.35em;
	line-height: 1.35em;
	width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"],
	input[type="phone"], input[type="tel"], input[type="number"], input[type="datetime"],
	input[type="date"], input[type="month"], input[type="color"], input[type="time"],
	input[type="search"], input[type="datetime-local"] {
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
	font-size: 1em;
	box-shadow: none;
	padding: 0.3em 0.35em;
	line-height: 1.65em;
	border-radius: 0;
	outline: none;
}

select[multiple], select[multiple="multiple"], textarea, input[type="text"],
	input[type="password"], input[type="email"], input[type="url"], input[type="phone"],
	input[type="tel"], input[type="number"], input[type="datetime"], input[type="date"],
	input[type="month"], input[type="color"], input[type="time"], input[type="search"],
	input[type="datetime-local"] {
	background: #ffffff;
	border: 1px solid #cccccc;
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
}

textarea[disabled], input[type="text"][disabled], input[type="password"][disabled],
	input[type="email"][disabled], input[type="url"][disabled], input[type="phone"][disabled],
	input[type="tel"][disabled], input[type="number"][disabled], input[type="datetime"][disabled],
	input[type="date"][disabled], input[type="month"][disabled], input[type="color"][disabled],
	input[type="time"][disabled], input[type="search"][disabled], input[type="datetime-local"][disabled]
	{
	resize: none;
	color: rgba(0, 0, 0, 0.8);
}

select[disabled], input[type="checkbox"][disabled], input[type="radio"][disabled]
	{
	cursor: default;
}

input::-moz-focus-inner, button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="range"] {
	position: relative;
	top: 3px;
}

select {
	margin-bottom: 0 !important;
}

fieldset {
	padding: 1.65em;
	margin-bottom: 1.65em;
	border: 1px solid #cccccc;
}

fieldset *:last-child {
	margin-bottom: 0 !important;
}

legend {
	font-weight: bold;
	padding: 0 1em;
	margin-left: -1em;
}

/* =Forms
-----------------------------------------------------------------------------*/
.forms {
	direction: rtl;
}

.forms .btn, .forms input[type="submit"].btn, .forms button, .forms input[type="submit"],
	.forms input[type="reset"] {
	padding: 0.3625em 1.3em;
}

.forms .btn-outline {
	padding: 0.3em 1.3em;
}

.forms .btn-outline.bold {
	padding: 0.2375em 1.3em;
}

.forms label {
	display: block;
	margin-bottom: 1.0999999999999999em;
	font-family: 'Yekan';
	text-align: right;
}

.forms input[type="text"], .forms input[type="password"], .forms input[type="email"],
	.forms input[type="url"], .forms input[type="phone"], .forms input[type="tel"],
	.forms input[type="number"], .forms input[type="datetime"], .forms input[type="date"],
	.forms input[type="month"], .forms input[type="color"], .forms input[type="time"],
	.forms input[type="search"], .forms input[type="range"], .forms input[type="file"],
	.forms input[type="datetime-local"], .forms textarea, .forms select {
	display: block;
	/*width: 250px;*/
	direction: rtl;
}

.forms-inline input[type="text"], .forms-inline-list input[type="text"],
	.forms-inline input[type="password"], .forms-inline-list input[type="password"],
	.forms-inline input[type="email"], .forms-inline-list input[type="email"],
	.forms-inline input[type="url"], .forms-inline-list input[type="url"],
	.forms-inline input[type="phone"], .forms-inline-list input[type="phone"],
	.forms-inline input[type="tel"], .forms-inline-list input[type="tel"],
	.forms-inline input[type="number"], .forms-inline-list input[type="number"],
	.forms-inline input[type="datetime"], .forms-inline-list input[type="datetime"],
	.forms-inline input[type="date"], .forms-inline-list input[type="date"],
	.forms-inline input[type="month"], .forms-inline-list input[type="month"],
	.forms-inline input[type="color"], .forms-inline-list input[type="color"],
	.forms-inline input[type="time"], .forms-inline-list input[type="time"],
	.forms-inline input[type="search"], .forms-inline-list input[type="search"],
	.forms-inline input[type="range"], .forms-inline-list input[type="range"],
	.forms-inline input[type="file"], .forms-inline-list input[type="file"],
	.forms-inline input[type="datetime-local"], .forms-inline-list input[type="datetime-local"],
	.forms-inline textarea, .forms-inline-list textarea, .forms-inline select,
	.forms-inline-list select {
	display: inline-block;
}

.forms-list, .forms-inline, .forms-inline-list {
	margin: 0;
	padding: 0;
	margin-bottom: 1.0999999999999999em;
	list-style: none;
}

.forms-list label, .forms-inline label, .forms-inline-list li,
	.forms-inline-list li label {
	display: inline-block;
	margin-bottom: 0;
}

.forms-inline-list li label {
	margin-right: 0.825em;
}

.forms-inline-list li {
	margin-bottom: 3px;
}

.forms-list li {
	margin-bottom: 6px;
}

.forms-desc {
	margin-top: 4px;
	color: rgba(0, 0, 0, 0.4);
	font-size: 12.75px;
	line-height: 1.4em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"],
	input[type="phone"], input[type="tel"], input[type="number"], input[type="datetime"],
	input[type="date"], input[type="month"], input[type="color"], input[type="time"],
	input[type="search"], input[type="datetime-local"], textarea {
	-moz-transition: border ease 0.5s;
	transition: border ease 0.5s;
}
/* States */
.error, .success {
	font-weight: normal;
	font-size: 12.75px;
}

input.input-error, textarea.input-error, select.input-error,
	.input-error {
	border-color: #de2c3b;
	box-shadow: 0 0 0 2px rgba(222, 44, 59, 0.3), 0 1px 2px
		rgba(0, 0, 0, 0.2) inset;
}

input.input-success, textarea.input-success, select.input-success,
	.input-success {
	border-color: #2c9f42;
	box-shadow: 0 0 0 2px rgba(44, 159, 66, 0.3), 0 1px 2px
		rgba(0, 0, 0, 0.2) inset;
}

input.input-gray, textarea.input-gray, select.input-gray, .input-gray {
	border-color: #b3b6b7;
	box-shadow: 0 0 0 2px rgba(179, 182, 183, 0.4), 0 1px 2px
		rgba(0, 0, 0, 0.2) inset;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	input[type="url"]:focus, input[type="phone"]:focus, input[type="tel"]:focus,
	input[type="number"]:focus, input[type="datetime"]:focus, input[type="date"]:focus,
	input[type="month"]:focus, input[type="color"]:focus, input[type="time"]:focus,
	input[type="search"]:focus, input[type="datetime-local"]:focus,
	textarea:focus {
	outline: none;
	border-color: #2575ed;
	box-shadow: 0 0 0 2px rgba(37, 117, 237, 0.3), 0 1px 2px
		rgba(0, 0, 0, 0.2) inset;
}
/*
Search
*/
input.input-search, input[type="search"] {
	padding-right: .5em;
	padding-left: .5em;
	margin-bottom: 0;
	border-radius: 15px;
	direction: rtl;
}

input.input-on-black {
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.35);
}

input.input-on-black::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

input.input-on-black::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

input.input-on-black:focus, input.input-on-black.active {
	border: 1px solid #fff;
	background: #fff;
	box-shadow: none;
}

input.input-on-black:focus::-webkit-input-placeholder, input.input-on-black.active::-webkit-input-placeholder
	{
	color: #aaa;
}

input.input-on-black:focus::-moz-placeholder, input.input-on-black.active::-moz-placeholder
	{
	color: #aaa;
}
/* Sizes */
input.input-big {
	font-size: 18px;
}

input.input-small {
	font-size: 12.75px;
}

input.input-smaller {
	font-size: 11.25px;
}
/* Append & Prepend */
.input-groups {
	display: table !important;
}

.input-groups input {
	width: 100%;
}

.input-groups input, .input-groups .input-append, .input-groups .input-prepend,
	.input-groups .btn-append {
	display: table-cell !important;
}

.input-groups .btn-append, .input-groups .input-append, .input-groups .input-prepend
	{
	width: 1%;
	vertical-align: middle;
}

.input-groups .input-append, .input-groups .input-prepend {
	background-color: #f4f4f4;
	border: 1px solid #d4d4d4;
	margin: 0;
	padding: .45em 1.75em .15em .75em;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.65em;
	font-size: 12.75px;
	white-space: nowrap;
}

.input-groups .input-prepend {
	border-right: none;
}

.input-groups .input-append {
	position: relative;
	z-index: 1;
	border-left: none;
}

.input-groups .btn-append .btn {
	display: block;
	height: auto;
	border-radius: 0 2px 2px 0;
}

.pagination {
	margin: 24px 0;
	font-size: 14px;
}

.pagination ul {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.pagination.centered ul {
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.pagination em, .pagination a {
	display: inline-block;
	font-style: normal;
	padding: 8px 16px;
	line-height: 1;
	border-radius: 4px;
	white-space: nowrap;
	border: 1px solid transparent;
}

.pagination a {
	text-decoration: none;
	color: #000;
}

.pagination a:hover {
	color: rgba(0, 0, 0, 0.5);
	background: #f4f4f4;
}

.pagination em, .pagination li.active a {
	color: rgba(0, 0, 0, 0.5);
	background: #f4f4f4;
	cursor: text;
}

.pagination.upper {
	font-size: 11px;
}

.pager em, .pager a {
	border-radius: 24px;
	border-color: rgba(0, 0, 0, 0.1);
}

.pager li {
	-webkit-flex-basis: 50%;
	-ms-flex-basis: 50%;
	flex-basis: 50%;
}

.pager li.next {
	text-align: right;
}

.pager.centered li {
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto;
	margin-left: 4px;
	margin-right: 4px;
}

.pager.flat em, .pager.flat a {
	border: none;
	display: block;
	padding: 0;
}

.pager.flat a {
	font-weight: bold;
}

.pager.flat a:hover {
	background: none;
	text-decoration: underline;
}

@media ( max-width : 768px) {
	.pager.flat ul {
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	.pager.flat li {
		-webkit-flex-basis: 100%;
		-ms-flex-basis: 100%;
		flex-basis: 100%;
		margin-bottom: 8px;
		text-align: left;
	}
}

.row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;*/
	margin-left: -2.12766%;
}

.row.centered {
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.row.centered .col {
	padding-left: 1.06383%;
	padding-right: 1.06383%;
}

.row.right {
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.row.bottom {
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.row.around {
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.row.between {
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.row.equal .col {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.row.equal .col>div {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.row.splice {
	margin-left: 0;
}

.row.splice .col {
	padding-left: 0;
}

.col {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-ms-flex-basis: 0;
	flex-basis: 0;
	max-width: 100%;
	padding-left: 2.12766%;
}

.col.first {
	order: -1;
}

.col.last {
	order: 1;
}

@media ( max-width : 768px) {
	.col.first-on-small {
		order: -1;
	}
	.col.last-on-small {
		order: 1;
	}
}

.pull-right {
	margin-left: auto;
}

.col-1 {
	flex-basis: 8.33333%;
	max-width: 8.33333%;
	width: 8.33333%;
}

.col-2 {
	flex-basis: 16.66667%;
	max-width: 16.66667%;
	width: 16.66667%;
}

.col-3 {
	flex-basis: 25%;
	max-width: 25%;
	width: 25%;
}

.col-4 {
	flex-basis: 33.33333%;
	max-width: 33.33333%;
	width: 33.33333%;
}

.col-5 {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
	width: 41.66667%;
}

.col-6 {
	/*flex-basis: 50%;*/
	max-width: 50%;
	width: 50%;
}

.col-7 {
	flex-basis: 58.33333%;
	max-width: 58.33333%;
	width: 58.33333%;
}

.col-8 {
	flex-basis: 66.66667%;
	max-width: 66.66667%;
	width: 66.66667%;
}

.col-9 {
	flex-basis: 75%;
	max-width: 75%;
	width: 75%;
}

.col-10 {
	flex-basis: 83.33333%;
	max-width: 83.33333%;
	width: 83.33333%;
}

.col-11 {
	flex-basis: 91.66667%;
	max-width: 91.66667%;
	width: 91.66667%;
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
	width: 100%;
}

.offset-1 {
	margin-left: 8.33333%;
}

.offset-2 {
	margin-left: 16.66667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.33333%;
}

.offset-5 {
	margin-left: 41.66667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.33333%;
}

.offset-8 {
	margin-left: 66.66667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.33333%;
}

.offset-11 {
	margin-left: 91.66667%;
}

.row-layout {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.col-fluid {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	width: 100%;
}

@media ( max-width : 768px) {
	.row-layout {
		display: block;
	}
	.col-fixed {
		-ms-flex: 1 !important;
		-webkit-flex: 1 !important;
		flex: 1 !important;
	}
	.row-layout>.col-fixed {
		order: 1;
	}
	.row-layout>.col-fluid {
		order: 2;
	}
}

@media ( max-width : 768px) {
	.row {
		margin-left: 0;
	}
	.col, [class^="col-"], [class*=" col-"] {
		flex-basis: 100%;
		max-width: 100%;
		width: 100%;
	}
	.col {
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
	}
	.pull-right, [class^="offset-"], [class*=" offset-"] {
		margin-left: 0;
	}
}

.label {
	font-size: 10px;
	font-weight: normal;
	display: inline;
	line-height: 1;
	top: -1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
	position: relative;
	vertical-align: middle;
	color: #000;
	background: #f4f4f4;
	padding: 2px 8px;
	letter-spacing: .01em;
}

.label a, .label a:hover {
	color: #000;
	text-decoration: none;
}

.label.primary {
	background: #3c74d9;
}

.label.primary, .label.primary a {
	color: #fff;
}

.label.primary.outline {
	border-color: #3c74d9;
}

.label.primary.outline, .label.primary.outline a {
	color: #3c74d9;
}

.label.primary.tag {
	background: none;
}

.label.primary.tag, .label.primary.tag a {
	color: #3c74d9;
}

.label.error {
	background: #f34248;
}

.label.error, .label.error a {
	color: #fff;
}

.label.error.outline {
	border-color: #f34248;
}

.label.error.outline, .label.error.outline a {
	color: #f34248;
}

.label.error.tag {
	background: none;
}

.label.error.tag, .label.error.tag a {
	color: #f34248;
}

.label.success {
	background: #60ae4d;
}

.label.success, .label.success a {
	color: #fff;
}

.label.success.outline {
	border-color: #60ae4d;
}

.label.success.outline, .label.success.outline a {
	color: #60ae4d;
}

.label.success.tag {
	background: none;
}

.label.success.tag, .label.success.tag a {
	color: #60ae4d;
}

.label.warning {
	background: #fed443;
}

.label.warning, .label.warning a {
	color: #000;
}

.label.warning.outline {
	border-color: #fed443;
}

.label.warning.outline, .label.warning.outline a {
	color: #fed443;
}

.label.warning.tag {
	background: none;
}

.label.warning.tag, .label.warning.tag a {
	color: #fed443;
}

.label.inverted {
	background: #fff;
}

.label.inverted, .label.inverted a {
	color: #000;
}

.label.inverted.outline {
	border-color: #fff;
}

.label.inverted.outline, .label.inverted.outline a {
	color: #fff;
}

.label.inverted.tag {
	background: none;
}

.label.inverted.tag, .label.inverted.tag a {
	color: #fff;
}

.label.outline {
	background: none;
	padding: 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.label.outline, .label.outline a {
	color: rgba(0, 0, 0, 0.65);
}

label {
	vertical-align: middle;
}

.form label {
	color: #111;
	display: block;
	font-size: 14px;
	font-weight: normal;
}

.form .form-item {
	margin-bottom: 24px;
}

.desc {
	text-transform: none;
	margin-top: 4px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
}

ul.desc {
	margin-bottom: 8px;
}

span.desc {
	margin-left: 4px;
	line-height: 20px;
}

/* =END OF KUBE
-----------------------------------------------------------------------------*/
#layout-topbar {
	background-color: #0288d1;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	height: 64px;
	z-index: 1000;
	color: #fff;
}

a, div, span, input, textarea, li, strong, button {
	outline: medium none;
	text-decoration: none;
}

#logo {
	text-align: right;
	background-color: #03a9f4;
	border-right: 1px solid #0277bd;
	display: block;
	color: #fff;
}

#logo img {
	margin-right: 5px;
	padding-top: 10px;
}

.white {
	color: #ffffff !important;
}

#search-bar {
	display: inline-block;
	float: right;
	height: 4.7rem;
	padding: 0 1.5rem;
}

#search-bar input[type="text"] {
	background-color: rgba(255, 255, 255, 0.2);
	border: 0 none;
	border-radius: 1.4rem;
	color: rgba(255, 255, 255, 0.9);
	float: left;
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
	font-size: 1.4rem;
	height: 2.2rem;
	margin: 0.9rem 0 0;
	padding: 0 2.2rem 0 1.2rem;
	width: 150px;
}

#loginPanel {
	margin-top: 70px;
}

#footer {
	background-color: #454546;
	bottom: 0;
	height: 40px;
	left: 0;
	position: fixed;
	width: 100%;
	color: #fff;
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
}

#wrapper {
	min-height: 100%;
}

@media ( max-width : 975px) {
	#slogan {
		display: none;
	}
	.ui.secondary.menu .item {
		margin-right: 0;
		padding-right: 0;
	}
	.ui.secondary.menu {
		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
	}
}

.site-footer-links {
	list-style: outside none none;
	margin: 0;
}

.site-footer-links li {
	display: inline-block;
	line-height: 16px;
	margin-right: 4px;
	margin-left: 4px;
	font-size: 14px;
}

.site-footer-links li a {
	color: #fff;
}

.video-tag {
	
}

#commentListItems {
	width: 100%;
	margin-right: 15px;
	max-height: 100%;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

#commentItems {
	margin-bottom: 35px;
	padding-bottom: 20px;
}

#courseDetail {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

html, body {
	margin: 0;
	padding: 0;
}

.locale-direction {
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif !important;
	direction: rtl;
}

.locale-font {
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif !important;
}

input[type="button"] {
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
}

.centerContent {
	margin: 0;
	padding: 0;
	margin-top: 150px;
}

/* =Notifications
-----------------------------------------------------------------------------*/
.message {
	color: #ffffff;
	font-family: 'Yekan';
	direction: rtl;
	text-align: center;
}

.message li {
	padding: 7px 15px;
	text-align: center;
	margin-bottom: .65em;
}

.message li.infomsg {
	direction: rtl;
	border: 1px solid #4161E0;
	border-radius: 3px;
	color: #ffffff;
	list-style: disc inside url("../images/msginfo.png");
	background: rgba(212, 228, 239, 1);
	background: -moz-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228,
		239, 1)), color-stop(1%, rgba(211, 227, 239, 1)),
		color-stop(100%, rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(to bottom, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef',
		endColorstr='#86aecc', GradientType=0);
}

.message li.errormsg {
	direction: rtl;
	border: 1px solid #DE2C3B;
	border-radius: 3px;
	background: #FECEAF; /* Old browsers */
	background: -moz-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FECEAF),
		color-stop(100%, #D9966A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FECEAF 0%, #98bede 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* IE10+ */
	background: linear-gradient(top, #FECEAF 0%, #D9966A 100%); /* W3C */
	/* IE6-9 */
	background: -moz-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FECEAF),
		color-stop(100%, #D9966A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* IE10+ */
	background: linear-gradient(top, #FECEAF 0%, #D9966A 100%); /* W3C */
	list-style: disc inside url("../images/msgerror.png");
	border-radius: 3px;
}

.message li.warnmsg {
	direction: rtl;
	border: 1px solid #E7E084;
	border-radius: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e',
		endColorstr='#febf04', GradientType=0); /* IE6-9 */
	list-style: disc inside url("../images/msgwarn.png");
}

.alert-box {
	margin: 10px;
	position: absolute;
	right: 0;
	top: 20px;
	width: 25%;
	z-index: 10000000;
}

html, body {
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
}

/*-------------------
        Links
--------------------*/
a {
	color: #009FDA;
	text-decoration: none;
}

a:hover {
	color: #00b2f3;
	text-decoration: none;
}

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
	outline: 0;
}

img {
	border: 0;
}

/* =Buttons
-----------------------------------------------------------------------------*/
.btn, input[type="submit"].btn {
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto-Light", "Yekan", "Tahoma", "helvetica neue",
		helvetica, arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.65em;
	text-align: center;
	text-decoration: none;
	-webkit-appearance: none;
	outline: none;
	margin: 0;
	border: none;
	border-radius: 2px;
	box-shadow: none;
	cursor: pointer;
	padding: 0.55em 2.5em;
	color: #222222;
	background: #e0e3e5;
}

.btn:hover, input[type="submit"].btn:hover {
	color: rgba(0, 0, 0, 0.5);
	background: #b3b6b7;
}

.btn::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn-big, input[type="submit"].btn-big {
	font-size: 18px;
}

.btn-small, input[type="submit"].btn-small {
	font-size: 12.75px;
}

.btn-smaller, input[type="submit"].btn-smaller {
	font-size: 11.25px;
	vertical-align: baseline;
}

.btn-round {
	border-radius: 15px;
}

.btn-outline, input[type="submit"].btn-outline {
	background: none;
	padding: 0.48750000000000004em 2.5em;
	border: 1px solid #0f0f0f;
}

.btn-outline:hover, input[type="submit"].btn-outline:hover {
	border-color: #b3b6b7;
}

.btn-outline.btn-active {
	padding: 0.55em 2.5em;
}

.btn-outline.bold {
	border-width: 2px;
	padding: 0.42500000000000004em 2.5em;
}

.btn-active, .btn[disabled], .btn-disabled {
	background: none;
	background: #b3b6b7;
	color: rgba(0, 0, 0, 0.5);
}

.btn-active:hover, .btn[disabled]:hover, .btn-disabled:hover {
	color: rgba(0, 0, 0, 0.5);
	background: #b3b6b7;
}

.btn-active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

.btn-outline.btn[disabled], .btn-outline.btn-disabled {
	background: none;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-outline.btn-active {
	background: none;
	color: rgba(0, 0, 0, 0.4);
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}

.btn[disabled], .btn-disabled {
	cursor: default;
	box-shadow: none;
}

.btn-blue, input[type="submit"].btn-blue {
	color: rgba(255, 255, 255, 0.9);
	background: #2575ed;
}

.btn-blue:hover, input[type="submit"].btn-blue:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #1a52a5;
}

.btn-blue.btn-active, input[type="submit"].btn-blue.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-blue.btn-active, input[type="submit"].btn-blue.btn-active,
	.btn-blue.btn-disabled, input[type="submit"].btn-blue.btn-disabled,
	.btn-blue.btn[disabled], input[type="submit"].btn-blue.btn[disabled] {
	color: rgba(255, 255, 255, 0.5);
	background: #1a52a5;
}

.btn-blue.btn-active:hover, input[type="submit"].btn-blue.btn-active:hover,
	.btn-blue.btn-disabled:hover, input[type="submit"].btn-blue.btn-disabled:hover,
	.btn-blue.btn[disabled]:hover, input[type="submit"].btn-blue.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-blue.btn-outline, input[type="submit"].btn-blue.btn-outline {
	background: none;
	border-color: #2575ed;
	color: #2575ed;
}

.btn-blue.btn-outline:hover, input[type="submit"].btn-blue.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #2575ed;
}

.btn-blue.btn-outline.btn[disabled], input[type="submit"].btn-blue.btn-outline.btn[disabled],
	.btn-blue.btn-outline.btn-disabled, input[type="submit"].btn-blue.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(37, 117, 237, 0.4);
	border: 1px solid rgba(37, 117, 237, 0.3);
}

.btn-blue.btn-outline.btn-active, input[type="submit"].btn-blue.btn-outline.btn-active
	{
	background: none;
	color: rgba(37, 117, 237, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(26, 82, 165, 0.6) inset;
}

.btn-blue:hover, input[type="submit"].btn-blue:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #1a52a5;
}

.btn-blue.btn-active, input[type="submit"].btn-blue.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-blue.btn-active, input[type="submit"].btn-blue.btn-active,
	.btn-blue.btn-disabled, input[type="submit"].btn-blue.btn-disabled,
	.btn-blue.btn[disabled], input[type="submit"].btn-blue.btn[disabled] {
	color: rgba(255, 255, 255, 0.5);
	background: #1a52a5;
}

.btn-blue.btn-active:hover, input[type="submit"].btn-blue.btn-active:hover,
	.btn-blue.btn-disabled:hover, input[type="submit"].btn-blue.btn-disabled:hover,
	.btn-blue.btn[disabled]:hover, input[type="submit"].btn-blue.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-blue.btn-outline, input[type="submit"].btn-blue.btn-outline {
	background: none;
	border-color: #2575ed;
	color: #2575ed;
}

.btn-blue.btn-outline:hover, input[type="submit"].btn-blue.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #2575ed;
}

.btn-blue.btn-outline.btn[disabled], input[type="submit"].btn-blue.btn-outline.btn[disabled],
	.btn-blue.btn-outline.btn-disabled, input[type="submit"].btn-blue.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(37, 117, 237, 0.4);
	border: 1px solid rgba(37, 117, 237, 0.3);
}

.btn-blue.btn-outline.btn-active, input[type="submit"].btn-blue.btn-outline.btn-active
	{
	background: none;
	color: rgba(37, 117, 237, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(26, 82, 165, 0.6) inset;
}

.btn-red, input[type="submit"].btn-red {
	color: rgba(255, 255, 255, 0.9);
	background: #de2c3b;
}

.btn-red:hover, input[type="submit"].btn-red:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #b2232f;
}

.btn-red.btn-active, input[type="submit"].btn-red.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-red.btn-active, input[type="submit"].btn-red.btn-active, .btn-red.btn-disabled,
	input[type="submit"].btn-red.btn-disabled, .btn-red.btn[disabled],
	input[type="submit"].btn-red.btn[disabled] {
	color: rgba(255, 255, 255, 0.5);
	background: #b2232f;
}

.btn-red.btn-active:hover, input[type="submit"].btn-red.btn-active:hover,
	.btn-red.btn-disabled:hover, input[type="submit"].btn-red.btn-disabled:hover,
	.btn-red.btn[disabled]:hover, input[type="submit"].btn-red.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-red.btn-outline, input[type="submit"].btn-red.btn-outline {
	background: none;
	border-color: #de2c3b;
	color: #de2c3b;
}

.btn-red.btn-outline:hover, input[type="submit"].btn-red.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #de2c3b;
}

.btn-red.btn-outline.btn[disabled], input[type="submit"].btn-red.btn-outline.btn[disabled],
	.btn-red.btn-outline.btn-disabled, input[type="submit"].btn-red.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(222, 44, 59, 0.4);
	border: 1px solid rgba(222, 44, 59, 0.3);
}

.btn-red.btn-outline.btn-active, input[type="submit"].btn-red.btn-outline.btn-active
	{
	background: none;
	color: rgba(222, 44, 59, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(178, 35, 47, 0.6) inset;
}

.btn-red:hover, input[type="submit"].btn-red:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #b2232f;
}

.btn-red.btn-active, input[type="submit"].btn-red.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-red.btn-active, input[type="submit"].btn-red.btn-active, .btn-red.btn-disabled,
	input[type="submit"].btn-red.btn-disabled, .btn-red.btn[disabled],
	input[type="submit"].btn-red.btn[disabled] {
	color: rgba(255, 255, 255, 0.5);
	background: #b2232f;
}

.btn-red.btn-active:hover, input[type="submit"].btn-red.btn-active:hover,
	.btn-red.btn-disabled:hover, input[type="submit"].btn-red.btn-disabled:hover,
	.btn-red.btn[disabled]:hover, input[type="submit"].btn-red.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-red.btn-outline, input[type="submit"].btn-red.btn-outline {
	background: none;
	border-color: #de2c3b;
	color: #de2c3b;
}

.btn-red.btn-outline:hover, input[type="submit"].btn-red.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #de2c3b;
}

.btn-red.btn-outline.btn[disabled], input[type="submit"].btn-red.btn-outline.btn[disabled],
	.btn-red.btn-outline.btn-disabled, input[type="submit"].btn-red.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(222, 44, 59, 0.4);
	border: 1px solid rgba(222, 44, 59, 0.3);
}

.btn-red.btn-outline.btn-active, input[type="submit"].btn-red.btn-outline.btn-active
	{
	background: none;
	color: rgba(222, 44, 59, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(178, 35, 47, 0.6) inset;
}

.btn-green, input[type="submit"].btn-green {
	color: rgba(255, 255, 255, 0.9);
	background: #2c9f42;
}

.btn-green:hover, input[type="submit"].btn-green:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #237f35;
}

.btn-green.btn-active, input[type="submit"].btn-green.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-green.btn-active, input[type="submit"].btn-green.btn-active,
	.btn-green.btn-disabled, input[type="submit"].btn-green.btn-disabled,
	.btn-green.btn[disabled], input[type="submit"].btn-green.btn[disabled]
	{
	color: rgba(255, 255, 255, 0.5);
	background: #237f35;
}

.btn-green.btn-active:hover, input[type="submit"].btn-green.btn-active:hover,
	.btn-green.btn-disabled:hover, input[type="submit"].btn-green.btn-disabled:hover,
	.btn-green.btn[disabled]:hover, input[type="submit"].btn-green.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-green.btn-outline, input[type="submit"].btn-green.btn-outline {
	background: none;
	border-color: #2c9f42;
	color: #2c9f42;
}

.btn-green.btn-outline:hover, input[type="submit"].btn-green.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #2c9f42;
}

.btn-green.btn-outline.btn[disabled], input[type="submit"].btn-green.btn-outline.btn[disabled],
	.btn-green.btn-outline.btn-disabled, input[type="submit"].btn-green.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(44, 159, 66, 0.4);
	border: 1px solid rgba(44, 159, 66, 0.3);
}

.btn-green.btn-outline.btn-active, input[type="submit"].btn-green.btn-outline.btn-active
	{
	background: none;
	color: rgba(44, 159, 66, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(35, 127, 53, 0.6) inset;
}

.btn-green:hover, input[type="submit"].btn-green:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #237f35;
}

.btn-green.btn-active, input[type="submit"].btn-green.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-green.btn-active, input[type="submit"].btn-green.btn-active,
	.btn-green.btn-disabled, input[type="submit"].btn-green.btn-disabled,
	.btn-green.btn[disabled], input[type="submit"].btn-green.btn[disabled]
	{
	color: rgba(255, 255, 255, 0.5);
	background: #237f35;
}

.btn-green.btn-active:hover, input[type="submit"].btn-green.btn-active:hover,
	.btn-green.btn-disabled:hover, input[type="submit"].btn-green.btn-disabled:hover,
	.btn-green.btn[disabled]:hover, input[type="submit"].btn-green.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-green.btn-outline, input[type="submit"].btn-green.btn-outline {
	background: none;
	border-color: #2c9f42;
	color: #2c9f42;
}

.btn-green.btn-outline:hover, input[type="submit"].btn-green.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #2c9f42;
}

.btn-green.btn-outline.btn[disabled], input[type="submit"].btn-green.btn-outline.btn[disabled],
	.btn-green.btn-outline.btn-disabled, input[type="submit"].btn-green.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(44, 159, 66, 0.4);
	border: 1px solid rgba(44, 159, 66, 0.3);
}

.btn-green.btn-outline.btn-active, input[type="submit"].btn-green.btn-outline.btn-active
	{
	background: none;
	color: rgba(44, 159, 66, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(35, 127, 53, 0.6) inset;
}

.btn-black, input[type="submit"].btn-black {
	color: rgba(255, 255, 255, 0.9);
	background: #0f0f0f;
}

.btn-black:hover, input[type="submit"].btn-black:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #363738;
}

.btn-black.btn-active, input[type="submit"].btn-black.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
}

.btn-black.btn-active, input[type="submit"].btn-black.btn-active,
	.btn-black.btn-disabled, input[type="submit"].btn-black.btn-disabled,
	.btn-black.btn[disabled], input[type="submit"].btn-black.btn[disabled]
	{
	color: rgba(255, 255, 255, 0.5);
	background: #363738;
}

.btn-black.btn-active:hover, input[type="submit"].btn-black.btn-active:hover,
	.btn-black.btn-disabled:hover, input[type="submit"].btn-black.btn-disabled:hover,
	.btn-black.btn[disabled]:hover, input[type="submit"].btn-black.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-black.btn-outline, input[type="submit"].btn-black.btn-outline {
	background: none;
	border-color: #0f0f0f;
	color: #0f0f0f;
}

.btn-black.btn-outline:hover, input[type="submit"].btn-black.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #0f0f0f;
}

.btn-black.btn-outline.btn[disabled], input[type="submit"].btn-black.btn-outline.btn[disabled],
	.btn-black.btn-outline.btn-disabled, input[type="submit"].btn-black.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(15, 15, 15, 0.4);
	border: 1px solid rgba(15, 15, 15, 0.3);
}

.btn-black.btn-outline.btn-active, input[type="submit"].btn-black.btn-outline.btn-active
	{
	background: none;
	color: rgba(15, 15, 15, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(54, 55, 56, 0.6) inset;
}

.btn-black:hover, input[type="submit"].btn-black:hover {
	color: rgba(255, 255, 255, 0.6);
	background: #363738;
}

.btn-black.btn-active, input[type="submit"].btn-black.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
}

.btn-black.btn-active, input[type="submit"].btn-black.btn-active,
	.btn-black.btn-disabled, input[type="submit"].btn-black.btn-disabled,
	.btn-black.btn[disabled], input[type="submit"].btn-black.btn[disabled]
	{
	color: rgba(255, 255, 255, 0.5);
	background: #363738;
}

.btn-black.btn-active:hover, input[type="submit"].btn-black.btn-active:hover,
	.btn-black.btn-disabled:hover, input[type="submit"].btn-black.btn-disabled:hover,
	.btn-black.btn[disabled]:hover, input[type="submit"].btn-black.btn[disabled]:hover
	{
	color: rgba(255, 255, 255, 0.5);
}

.btn-black.btn-outline, input[type="submit"].btn-black.btn-outline {
	background: none;
	border-color: #0f0f0f;
	color: #0f0f0f;
}

.btn-black.btn-outline:hover, input[type="submit"].btn-black.btn-outline:hover
	{
	color: rgba(255, 255, 255, 0.9);
	background: #0f0f0f;
}

.btn-black.btn-outline.btn[disabled], input[type="submit"].btn-black.btn-outline.btn[disabled],
	.btn-black.btn-outline.btn-disabled, input[type="submit"].btn-black.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(15, 15, 15, 0.4);
	border: 1px solid rgba(15, 15, 15, 0.3);
}

.btn-black.btn-outline.btn-active, input[type="submit"].btn-black.btn-outline.btn-active
	{
	background: none;
	color: rgba(15, 15, 15, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(54, 55, 56, 0.6) inset;
}

.btn-yellow, input[type="submit"].btn-yellow {
	color: rgba(0, 0, 0, 0.9);
	background: #ffc800;
}

.btn-yellow:hover, input[type="submit"].btn-yellow:hover {
	color: rgba(0, 0, 0, 0.6);
	background: #cca000;
}

.btn-yellow.btn-active, input[type="submit"].btn-yellow.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-yellow.btn-active, input[type="submit"].btn-yellow.btn-active,
	.btn-yellow.btn-disabled, input[type="submit"].btn-yellow.btn-disabled,
	.btn-yellow.btn[disabled], input[type="submit"].btn-yellow.btn[disabled]
	{
	color: rgba(0, 0, 0, 0.5);
	background: #cca000;
}

.btn-yellow.btn-active:hover, input[type="submit"].btn-yellow.btn-active:hover,
	.btn-yellow.btn-disabled:hover, input[type="submit"].btn-yellow.btn-disabled:hover,
	.btn-yellow.btn[disabled]:hover, input[type="submit"].btn-yellow.btn[disabled]:hover
	{
	color: rgba(0, 0, 0, 0.5);
}

.btn-yellow.btn-outline, input[type="submit"].btn-yellow.btn-outline {
	background: none;
	border-color: #ffc800;
	color: #ffc800;
}

.btn-yellow.btn-outline:hover, input[type="submit"].btn-yellow.btn-outline:hover
	{
	color: rgba(0, 0, 0, 0.9);
	background: #ffc800;
}

.btn-yellow.btn-outline.btn[disabled], input[type="submit"].btn-yellow.btn-outline.btn[disabled],
	.btn-yellow.btn-outline.btn-disabled, input[type="submit"].btn-yellow.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(255, 200, 0, 0.4);
	border: 1px solid rgba(255, 200, 0, 0.3);
}

.btn-yellow.btn-outline.btn-active, input[type="submit"].btn-yellow.btn-outline.btn-active
	{
	background: none;
	color: rgba(255, 200, 0, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(204, 160, 0, 0.6) inset;
}

.btn-yellow:hover, input[type="submit"].btn-yellow:hover {
	color: rgba(0, 0, 0, 0.6);
	background: #cca000;
}

.btn-yellow.btn-active, input[type="submit"].btn-yellow.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-yellow.btn-active, input[type="submit"].btn-yellow.btn-active,
	.btn-yellow.btn-disabled, input[type="submit"].btn-yellow.btn-disabled,
	.btn-yellow.btn[disabled], input[type="submit"].btn-yellow.btn[disabled]
	{
	color: rgba(0, 0, 0, 0.5);
	background: #cca000;
}

.btn-yellow.btn-active:hover, input[type="submit"].btn-yellow.btn-active:hover,
	.btn-yellow.btn-disabled:hover, input[type="submit"].btn-yellow.btn-disabled:hover,
	.btn-yellow.btn[disabled]:hover, input[type="submit"].btn-yellow.btn[disabled]:hover
	{
	color: rgba(0, 0, 0, 0.5);
}

.btn-yellow.btn-outline, input[type="submit"].btn-yellow.btn-outline {
	background: none;
	border-color: #ffc800;
	color: #ffc800;
}

.btn-yellow.btn-outline:hover, input[type="submit"].btn-yellow.btn-outline:hover
	{
	color: rgba(0, 0, 0, 0.9);
	background: #ffc800;
}

.btn-yellow.btn-outline.btn[disabled], input[type="submit"].btn-yellow.btn-outline.btn[disabled],
	.btn-yellow.btn-outline.btn-disabled, input[type="submit"].btn-yellow.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(255, 200, 0, 0.4);
	border: 1px solid rgba(255, 200, 0, 0.3);
}

.btn-yellow.btn-outline.btn-active, input[type="submit"].btn-yellow.btn-outline.btn-active
	{
	background: none;
	color: rgba(255, 200, 0, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(204, 160, 0, 0.6) inset;
}

.btn-white, input[type="submit"].btn-white {
	color: rgba(0, 0, 0, 0.9);
	background: #ffffff;
}

.btn-white:hover, input[type="submit"].btn-white:hover {
	color: rgba(0, 0, 0, 0.6);
	background: #ededed;
}

.btn-white.btn-active, input[type="submit"].btn-white.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

.btn-white.btn-active, input[type="submit"].btn-white.btn-active,
	.btn-white.btn-disabled, input[type="submit"].btn-white.btn-disabled,
	.btn-white.btn[disabled], input[type="submit"].btn-white.btn[disabled]
	{
	color: rgba(0, 0, 0, 0.5);
	background: #ededed;
}

.btn-white.btn-active:hover, input[type="submit"].btn-white.btn-active:hover,
	.btn-white.btn-disabled:hover, input[type="submit"].btn-white.btn-disabled:hover,
	.btn-white.btn[disabled]:hover, input[type="submit"].btn-white.btn[disabled]:hover
	{
	color: rgba(0, 0, 0, 0.5);
}

.btn-white.btn-outline, input[type="submit"].btn-white.btn-outline {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}

.btn-white.btn-outline:hover, input[type="submit"].btn-white.btn-outline:hover
	{
	color: rgba(0, 0, 0, 0.9);
	background: #ffffff;
}

.btn-white.btn-outline.btn[disabled], input[type="submit"].btn-white.btn-outline.btn[disabled],
	.btn-white.btn-outline.btn-disabled, input[type="submit"].btn-white.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-white.btn-outline.btn-active, input[type="submit"].btn-white.btn-outline.btn-active
	{
	background: none;
	color: rgba(255, 255, 255, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}

.btn-white:hover, input[type="submit"].btn-white:hover {
	color: rgba(0, 0, 0, 0.6);
	background: #ededed;
}

.btn-white.btn-active, input[type="submit"].btn-white.btn-active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

.btn-white.btn-active, input[type="submit"].btn-white.btn-active,
	.btn-white.btn-disabled, input[type="submit"].btn-white.btn-disabled,
	.btn-white.btn[disabled], input[type="submit"].btn-white.btn[disabled]
	{
	color: rgba(0, 0, 0, 0.5);
	background: #ededed;
}

.btn-white.btn-active:hover, input[type="submit"].btn-white.btn-active:hover,
	.btn-white.btn-disabled:hover, input[type="submit"].btn-white.btn-disabled:hover,
	.btn-white.btn[disabled]:hover, input[type="submit"].btn-white.btn[disabled]:hover
	{
	color: rgba(0, 0, 0, 0.5);
}

.btn-white.btn-outline, input[type="submit"].btn-white.btn-outline {
	background: none;
	border-color: #ffffff;
	color: #ffffff;
}

.btn-white.btn-outline:hover, input[type="submit"].btn-white.btn-outline:hover
	{
	color: rgba(0, 0, 0, 0.9);
	background: #ffffff;
}

.btn-white.btn-outline.btn[disabled], input[type="submit"].btn-white.btn-outline.btn[disabled],
	.btn-white.btn-outline.btn-disabled, input[type="submit"].btn-white.btn-outline.btn-disabled
	{
	background: none;
	box-shadow: none;
	color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-white.btn-outline.btn-active, input[type="submit"].btn-white.btn-outline.btn-active
	{
	background: none;
	color: rgba(255, 255, 255, 0.6);
	border: none;
	box-shadow: 0 1px 3px rgba(237, 237, 237, 0.6) inset;
}

.btn-white.btn-outline.btn-active {
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.48750000000000004em 2.5em;
}
/*
Buttons Group
*/
.btn-single, .btn-group {
	display: inline-block;
	margin-right: 2px;
	vertical-align: bottom;
}

.btn-single:after, .btn-group:after {
	content: "";
	display: table;
	clear: both;
}

.btn-single:after, .btn-group:after {
	content: "";
	display: table;
	clear: both;
}

.btn-single>.btn, .btn-single>input, .btn-group>.btn, .btn-group>input {
	float: left;
	border-radius: 0;
	margin-left: -1px;
}

.btn-single>.btn {
	border-radius: 2px;
}

.btn-group>.btn:first-child {
	border-radius: 2px 0 0 2px;
}

.btn-group>.btn:last-child {
	border-radius: 0 2px 2px 0;
}

.btn-group>.btn.btn-round:first-child, .btn-group>.input-search:first-child
	{
	border-radius: 15px 0 0 15px;
}

.btn-group>.btn.btn-round:last-child, .btn-group>.input-search:last-child
	{
	border-radius: 0 15px 15px 0;
}

fieldset {
	direction: rtl;
	border: 2px solid #e3e2df;
	margin: 5px 2px 5px 2px;
	font-family: 'Yekan';
	padding: 1.65em;
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
		255, 1)), color-stop(47%, rgba(246, 246, 246, 1)),
		color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0);
}

legend {
	color: #000000;
	font-weight: bold;
	font-family: 'Yekan';
	color: #474447;
	padding: 0 1em;
}

.red {
	color: #DB2828;
}

.borderless {
	border: none;
}

.clickableLink {
	color: #4078c0 !important;
}

.white a:hover {
	color: #fff !important;
}

#contentHelper {
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
		255, 1)), color-stop(47%, rgba(246, 246, 246, 1)),
		color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0);
}

.pointer {
	cursor: pointer;
}

.ui-autocomplete-loading {
	background: white url("../images/ui_anim.png") left center no-repeat;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	cursor: pointer;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
	height: 100px;
	cursor: pointer;
}

/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
	/**background: none repeat scroll 0 0 #F2F2F2;*/
	direction: rtl;
	float: right;
	padding: 10px;
	text-align: center;
	width: 87%;
	margin-bottom: 45px;
}

.page {
	background: none repeat scroll 0 0 #E9E9E9;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px
		rgba(0, 0, 0, 0.1);
	color: #717171;
	display: inline-block;
	font-size: 0.875em;
	font-weight: bold;
	margin-right: 4px;
	padding: 0 9px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

.list-item-per-pages {
	direction: rtl;
	float: left;
	font-size: 11pt;
	padding-top: 10px;
	text-align: right;
	height: 50px;
}

.well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
	direction: rtl;
	text-align: center;
}

.panel-default {
	border-color: #ddd;
}

.panel {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.panel-body {
	padding: 15px;
}

.ui.items>.item>.image+.content {
	padding-right: 1.5em;
}

.width-100 {
	width: 100% !important;
}

.ui.comments {
	width: 100% !important;
	max-width: 100% !important;
}

.memberCourse {
	border: 1px solid #a19ea1;
	margin: 10px;
	padding: 10px;
}

.ui.table td.positive, .ui.table tr.viewed {
	background: #e7e7e7 none repeat scroll 0 0 !important;
	box-shadow: 0 0 0 #a3c293 inset;
	color: #2c662d !important;
}


#video-drp {
	position: fixed;
	top: 0;
	right: 0;
	width: 150px;
	z-index: 999999;	
	cursor: pointer;	
}
