.locale-dir {
	direction: rtl;
}

.locale-text-align {
	text-align: right !important;
}

#home #main #hero-bg {
	position: absolute;
	height: 520px;
	width: 100%;
	left: 0;
	top: 0;
	background: #33628a;
	background-image: -webkit-radial-gradient(closest-corner, rgba(14, 42, 63, 0)
		60%, rgba(18, 47, 68, .26)),
		-webkit-linear-gradient(110deg, #33628a, #01324b 90%);
	background-image: -moz-radial-gradient(closest-corner, rgba(14, 42, 63, 0)
		60%, rgba(18, 47, 68, .26)),
		-moz-linear-gradient(110deg, #33628a, #01324b 90%);
	background-image: -ms-radial-gradient(closest-corner, rgba(14, 42, 63, 0)
		60%, rgba(18, 47, 68, .26)),
		-ms-linear-gradient(110deg, #33628a, #01324b 90%);
	background-size: cover
}

#home #main #hero-pattern {
	position: absolute;
	height: 520px;
	width: 100%;
	left: 0;
	top: 0;
	background: url(../images/hero-bg.png)
}

#home #main #hero {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	height: 460px;
	margin: 60px 0 0 !important;
	width: 100%;
	z-index: 3;
}

#home #header {
	border-bottom: 1px solid transparent;
	box-shadow: 0 0 0 0 transparent;
	left: 0;
	padding: 2em 0;
	position: fixed;
	top: 0;
	transition: padding 0.5s ease 0s, background 0.5s ease 0s, box-shadow
		0.5s ease 0s, border 0.5s ease 0s;
	width: 100%;
	z-index: 900;
}

.carousel {
	line-height: 1;
	margin-bottom: 20px;
	position: relative;
}

.header-color {
	background-color: #33628A !important;
}

/* =Input Form
-----------------------------------------------------------------------------*/
.input-field {
	margin-top: 1rem;
	position: relative;
}

input:not ([type] ), input[type="text"], input[type="password"], input[type="email"],
	input[type="url"], input[type="time"], input[type="date"], input[type="datetime"],
	input[type="datetime-local"], input[type="tel"], input[type="number"],
	input[type="search"], textarea.materialize-textarea {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: transparent;
	border-color: -moz-use-text-color -moz-use-text-color #9e9e9e;
	border-image: none;
	border-radius: 0;
	border-style: none none solid;
	border-width: medium medium 1px;
	box-shadow: none;
	box-sizing: content-box;
	font-size: 1rem;
	height: 3rem;
	margin: 0 0 15px;
	outline: medium none;
	padding: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

input {
	line-height: normal;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input:not ([type] ) +label::after, input[type="text"]+label::after,
	input[type="password"]+label::after, input[type="email"]+label::after,
	input[type="url"]+label::after, input[type="time"]+label::after, input[type="date"]+label::after,
	input[type="datetime"]+label::after, input[type="datetime-local"]+label::after,
	input[type="tel"]+label::after, input[type="number"]+label::after,
	input[type="search"]+label::after, textarea.materialize-textarea+label::after
	{
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
	top: 65px;
	transition: opacity 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.input-field label {
	color: #9e9e9e;
	cursor: text;
	font-size: 1rem;
	right: 2.75rem;
	position: absolute;
	top: 0.8rem;
	transition: all 0.2s ease-out 0s;
}

label {
	color: #9e9e9e;
	font-size: 0.8rem;
}

input:focus:not ([type] ):not ([readonly] ) +label, input[type="text"]:focus:not
	 ([readonly] ) +label, input[type="password"]:focus:not ([readonly] ) +label,
	input[type="email"]:focus:not ([readonly] ) +label, input[type="url"]:focus:not
	 ([readonly] ) +label, input[type="time"]:focus:not ([readonly] ) +label,
	input[type="date"]:focus:not ([readonly] ) +label, input[type="datetime"]:focus:not
	 ([readonly] ) +label, input[type="datetime-local"]:focus:not ([readonly]
	 ) +label, input[type="tel"]:focus:not ([readonly] ) +label, input[type="number"]:focus:not
	 ([readonly] ) +label, input[type="search"]:focus:not ([readonly] ) +label,
	textarea.materialize-textarea:focus:not ([readonly] ) +label {
	color: #26a69a;
}

.input-field label.active {
	transform: translateY(-140%);
	font-size: 0.8rem;
}

.row .col.s6 {
	left: auto;
	margin-left: auto;
	right: auto;
	width: 50%;
}

.row .col {
	box-sizing: border-box;
	float: right;
	padding: 0 0.75rem;
}

.input-field .prefix {
	font-size: 2rem;
	position: absolute;
	transition: color 0.2s ease 0s;
	width: 3rem;
	padding-left: 12px;
}
/*.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
.material-icons {
	font-feature-settings: "liga";
	text-rendering: optimizelegibility;
}
*/
div.input-field.col.s6 input {
	margin-right: 25px;
}

div.input-field.col.s6 span {
	margin-right: 25px;
}

.red {
	color: #DB2828;
}

.borderless {
	border: none;
}

/* =Profile
-----------------------------------------------------------------------------*/
.edit-profile .avatar-wrapper {
	height: 164px;
	overflow: hidden;
	position: relative;
	width: 164px;
}

.avatar-wrapper #change-picture, .avatar-wrapper .change-picture {
	background: rgba(12, 13, 14, 0.6) none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0 0 3px 3px;
	color: #fff;
	text-align: center;
	transition: background 0.3s ease 0s;
}

#change-picture {
	display: block;
}

.avatar {
	width: 164px;
	height: 164px;
	overflow: hidden;
	margin: 0 auto;
}

/* =Buttons
-----------------------------------------------------------------------------*/
.actionButtons {
	clear: both;
	text-align: left;
}

/* =Notifications
-----------------------------------------------------------------------------*/
.message {
	color: #ffffff;
	font-family: 'Yekan';
	direction: rtl;
	text-align: center;
}

.message li {
	padding: 7px 15px;
	text-align: center;
	margin-bottom: .65em;
}

.message li.infomsg {
	direction: rtl;
	border: 1px solid #4161E0;
	border-radius: 3px;
	color: #ffffff;
	list-style: disc inside url("../images/msginfo.png");
	background: rgba(212, 228, 239, 1);
	background: -moz-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212, 228,
		239, 1)), color-stop(1%, rgba(211, 227, 239, 1)),
		color-stop(100%, rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(top, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(to bottom, rgba(212, 228, 239, 1) 0%,
		rgba(211, 227, 239, 1) 1%, rgba(134, 174, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef',
		endColorstr='#86aecc', GradientType=0);
}

.message li.errormsg {
	direction: rtl;
	border: 1px solid #DE2C3B;
	border-radius: 3px;
	background: #FECEAF; /* Old browsers */
	background: -moz-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FECEAF),
		color-stop(100%, #D9966A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FECEAF 0%, #98bede 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* IE10+ */
	background: linear-gradient(top, #FECEAF 0%, #D9966A 100%); /* W3C */
	/* IE6-9 */
	background: -moz-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FECEAF),
		color-stop(100%, #D9966A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FECEAF 0%, #D9966A 100%);
	/* IE10+ */
	background: linear-gradient(top, #FECEAF 0%, #D9966A 100%); /* W3C */
	list-style: disc inside url("../images/msgerror.png");
	border-radius: 3px;
}

.message li.warnmsg {
	direction: rtl;
	border: 1px solid #E7E084;
	border-radius: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e',
		endColorstr='#febf04', GradientType=0); /* IE6-9 */
	list-style: disc inside url("../images/msgwarn.png");
}

.alert-box {
	margin: 10px;
	position: absolute;
	right: 0;
	top: 20px;
	width: 25%;
	z-index: 10000000;
}

input.required {
	-webkit-animation-name: required-anim; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-name: required-anim;
	animation-duration: 2s;
}

div#projectListPanel div.item {
	margin-right: 20px;
	margin-top: 5px;
	height: 25px;
}

.truncate {
	line-height: 17px;
	text-overflow: ellipsis;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
}

/* =Openfaces Pagination (Paging)
-----------------------------------------------------------------------------*/
.dtp {
	direction: rtl;
	margin: 0 auto;
}

.numberFieldClass {
	border: none !important;
	text-align: center !important;
	width: 40px !important;
}

/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
	/**background: none repeat scroll 0 0 #F2F2F2;*/
	direction: rtl;
	text-align: center;
	width: 87%;
}

.page {
	background: none repeat scroll 0 0 #E9E9E9;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px
		rgba(0, 0, 0, 0.1);
	color: #717171;
	display: inline-block;
	font-size: 0.875em;
	font-weight: bold;
	margin-right: 4px;
	padding: 0 9px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

.list-item-per-pages {
	direction: rtl;
	float: left;
	font-size: 11pt;
	padding-top: 10px;
	text-align: right;
	height: 50px;
}

.pencil {
	display: block;
	visibility: hidden;
	cursor: :pointer;
}

#taskTableBody tr:hover .pencil {
	visibility: visible;
	color: #282A76;
}

.inline-edit {
	/*border-bottom: 1px dotted #83A4C5;
	border-radius: 12rem;
    color: #28aadc;
	transition: color 0.3s ease 0s, border 0.3s ease 0s;*/
	background: url(../images/icon-arrow-up.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.inline-edit:after {
	/*content: url(../images/icon-arrow-up.png);*/
}

.inline-edit .form {
	display: none;
}

.inline-edit .hover {
	background-color: #FFFFA5;
	cursor: pointer;
}

@media only screen and (max-width: 635px) {
    #nav {
        display: none;
    }
}
/* Chrome, Safari, Opera */

@ -webkit-keyframes required-anim {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale (1 .0);
        transform: scale (1 .0);
        -ms-transform: scale (1 .0);
    }
}
/* Standard syntax */

@ keyframes required-anim {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale (1 .0);
        transform: scale (1 .0);
        -ms-transform: scale (1 .0);
    }
}