/**
Mail Templates Font
*/
@font-face {
    font-family: 'SansPro';
    src: url("http://jedlab.ir/css/fonts/SansPro.eot");
    src: url("http://jedlab.ir/css/fonts/SansPro.eot?#iefix") format('embedded-opentype'), url("http://jedlab.ir/css/fonts/SansPro.woff") format('woff'), url("http://jedlab.ir/css/fonts/SansPro.ttf") format('truetype');
}
@font-face {
    font-family: "SansPro", "Yekan", 'Vazir-Light';    
    src: local('Vazir-Light'), url("http://jedlab.ir/css/fonts/Vazir-Light.woff") format('woff'), url("http://jedlab.ir/css/fonts/Vazir-Light.ttf") format('truetype');
}